# Python virtual environment
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environment
bin/
lib/
include/
.Python
pyvenv.cfg
pip-selfcheck.json

# macOS specific
.DS_Store

# Large library files
*.dylib
*.so